<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<script src = "/controllers/consultantsController.js"</script>
	<script src = "/lib/angular.min.js"</script>
</head>
<body>

<form action="/upload" method="post" enctype="multipart/form-data">
<input type="file" name="myfile">
<input type="submit" value="Upload">
</form>

<form action="/saveInMongo" method="post" >
<input type="submit" value="Save dans Mongo">
</form>
<h1>Liste des consultants</h1>
		
		<div class="row" id="mes Consultants" ng-repeat="c in listeConsultants" >
			<p>{{{c.Prenom}}}</p>
		</div>
		<!-- bower:js -->
		<script src="/bower/jquery/dist/jquery.js"></script>
		<script src="/bower/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bower/bootstrap-validator/dist/validator.js"></script>
		<script src="/bower/angular/angular.js"></script>
		<script src="/bower/angular-ui/build/angular-ui.js"></script>
		<!-- endbower -->
		<!-- inject:js -->
		<script src="/dist/js/app.js"></script>
		<script src="/dist/js/gui.js"></script>
		<!-- endinject -->
		<script src="//cdn.socket.io/socket.io-1.4.5.js"></script>

</body>
</html>